env/
database.db

# python
__pycache__/
 *.pyc

#dossier api
./api/__pycache__/
./api/src/__pycache__/
./api/.pytest_cache
api/.env

# data temporaire à suivre dans DVC
data/current_data
#data/new_data
data/processed_data
#data/raw_data

# saved models (big files)
models/

# local temporary files (Bruno)
requirementstest.txt
data_model_bash.sh
old_BV

# logs
orchestration_service/logs

# local dvc config
.dvc/config
/models
/metrics
